* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    /* фоновый цвет*/

    padding: 15px;
    font-family: 'Inter', sans-serif;

}

.page-wrapper {
    overflow: hidden;
    max-width: 370px;
    margin: auto;
    background: #F7F7F7;
    box-shadow: 0px 0px 30px rgba(157, 157, 157, 0.25);
    border-radius: 20px;
}

.container {
    max-width: 300px;
    margin: auto;
}

.header {
    color: #fff;
    padding: 40px 42px 145px;
    background: linear-gradient(0deg, rgba(58, 58, 58, 0.6), rgba(58, 58, 58, 0.66)), url(../img/header-bg.png) no-repeat center / cover;
    border-radius: 0px 0px 75px 75px;
}

.hello {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.hello-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.user {
    margin-top: -79px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-bottom: 20px;
}

.user-avatar {
    margin-top: -43px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #FFFFFF;
}

.user-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.user-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A3A3A3;
    margin-top: 4px;
}